* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  margin: 0;
  padding-top: 3.5rem;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
    padding-top: 0;
    height: 100%;
  }
}

main {
  /* grid-row: 2 / 3; */
  grid-area: main;
}

.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}
